



.container {
  width: 400x;
  justify-items: center;
  text-align: center;
  border: black solid 2px;

}

.imagen {
  width: 500px;
  height: 500px;
}


.MuiButton-root  {
  display: block;
  position: absolute;
  color:aqua;
}